name: Build container image
on:
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout files in repo
      uses: actions/checkout@main
    
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    
    - name: Update pip
      run: |
        python -m pip install --upgrade pip
    
    - name: Update jupyter dependencies with repo2docker
      uses: jupyterhub/repo2docker-action@master
      with:
        DOCKER_USERNAME: ${{ secrets.QUAY_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.QUAY_PASSWORD }}
        DOCKER_REGISTRY: "quay.io"
        IMAGE_NAME: "ccsf/jupyterhub"
        FORCE_REPO2DOCKER_VERSION: jupyter-repo2docker==2025.12.0
        PLATFORM: "linux/amd64,linux/arm64"
